.mdl-layout__header {
	color: #787878;
	background-color: #fff;
	box-shadow: none;
}

.mdl-layout__header-row .mdl-navigation__link{
	color: #787878;
}

h1, h2, h3, h4, h5{
	color: #787878;
}

table{
	width: 100%;
}

#lista-asistencia td:first-child {
	width: 10%;
	text-align: center;
}

#lista-asistencia td:nth-child(2) {
	width: 70%;
}

#lista-asistencia td:nth-child(3) {
	width: 20%;
}